body {
  background-color: #343539;
  color: #fff;
  margin: 0;
  padding: 0;
  @extend %helvetica-400;
  font-size: 15px;
  line-height: 18px;
}

.container {
    max-width: 730px;
    margin: 0 auto 0 170px;
}

input {
  outline: none;
}